Sorting/Web References/cn.com.sngoo.app7/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://scyueve.f3322.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://scyueve.f3322.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://scyueve.f3322.net/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyPassWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyPassWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyPassWordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyUserRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyUserRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyUserRoleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="classname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indexclass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indexcontent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tablename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadGoods">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fruitClass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadGoodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadGoodsResult" type="tns:ArrayOfGoods" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGoods">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Goods" nillable="true" type="tns:Goods" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Goods">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DrugCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DrugName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DrugPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Untis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PuzzlePrice" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="WriteIntoFJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:GoodsView" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GoodsView">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DrugCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DrugName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DrugWeight" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FJ_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FJ_time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="packed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DrugPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PuzzlePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PuzzleTotlePrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Units" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WriteIntoFJResponse">
        <s:complexType />
      </s:element>
      <s:element name="readFJINFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StarTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readFJINFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="readFJINFOResult" type="tns:ArrayOfGoodsView" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGoodsView">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GoodsView" nillable="true" type="tns:GoodsView" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FJ_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ALterWeight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FJ_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="TotalPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="PuzzleTotlePrice" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ALterWeightResponse">
        <s:complexType />
      </s:element>
      <s:element name="searcheGoods">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FJ_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searcheGoodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searcheGoodsResult" type="tns:GoodsView" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoodsClass">
        <s:complexType />
      </s:element>
      <s:element name="GetGoodsClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGoodsClassResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="verifyPassWordSoapIn">
    <wsdl:part name="parameters" element="tns:verifyPassWord" />
  </wsdl:message>
  <wsdl:message name="verifyPassWordSoapOut">
    <wsdl:part name="parameters" element="tns:verifyPassWordResponse" />
  </wsdl:message>
  <wsdl:message name="verifyUserRoleSoapIn">
    <wsdl:part name="parameters" element="tns:verifyUserRole" />
  </wsdl:message>
  <wsdl:message name="verifyUserRoleSoapOut">
    <wsdl:part name="parameters" element="tns:verifyUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="searchContentSoapIn">
    <wsdl:part name="parameters" element="tns:searchContent" />
  </wsdl:message>
  <wsdl:message name="searchContentSoapOut">
    <wsdl:part name="parameters" element="tns:searchContentResponse" />
  </wsdl:message>
  <wsdl:message name="ReadGoodsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadGoods" />
  </wsdl:message>
  <wsdl:message name="ReadGoodsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadGoodsResponse" />
  </wsdl:message>
  <wsdl:message name="WriteIntoFJSoapIn">
    <wsdl:part name="parameters" element="tns:WriteIntoFJ" />
  </wsdl:message>
  <wsdl:message name="WriteIntoFJSoapOut">
    <wsdl:part name="parameters" element="tns:WriteIntoFJResponse" />
  </wsdl:message>
  <wsdl:message name="readFJINFOSoapIn">
    <wsdl:part name="parameters" element="tns:readFJINFO" />
  </wsdl:message>
  <wsdl:message name="readFJINFOSoapOut">
    <wsdl:part name="parameters" element="tns:readFJINFOResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ALterWeightSoapIn">
    <wsdl:part name="parameters" element="tns:ALterWeight" />
  </wsdl:message>
  <wsdl:message name="ALterWeightSoapOut">
    <wsdl:part name="parameters" element="tns:ALterWeightResponse" />
  </wsdl:message>
  <wsdl:message name="searcheGoodsSoapIn">
    <wsdl:part name="parameters" element="tns:searcheGoods" />
  </wsdl:message>
  <wsdl:message name="searcheGoodsSoapOut">
    <wsdl:part name="parameters" element="tns:searcheGoodsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGoodsClassSoapIn">
    <wsdl:part name="parameters" element="tns:GetGoodsClass" />
  </wsdl:message>
  <wsdl:message name="GetGoodsClassSoapOut">
    <wsdl:part name="parameters" element="tns:GetGoodsClassResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyPassWord">
      <wsdl:input message="tns:verifyPassWordSoapIn" />
      <wsdl:output message="tns:verifyPassWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyUserRole">
      <wsdl:input message="tns:verifyUserRoleSoapIn" />
      <wsdl:output message="tns:verifyUserRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchContent">
      <wsdl:input message="tns:searchContentSoapIn" />
      <wsdl:output message="tns:searchContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadGoods">
      <wsdl:input message="tns:ReadGoodsSoapIn" />
      <wsdl:output message="tns:ReadGoodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteIntoFJ">
      <wsdl:input message="tns:WriteIntoFJSoapIn" />
      <wsdl:output message="tns:WriteIntoFJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="readFJINFO">
      <wsdl:input message="tns:readFJINFOSoapIn" />
      <wsdl:output message="tns:readFJINFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ALterWeight">
      <wsdl:input message="tns:ALterWeightSoapIn" />
      <wsdl:output message="tns:ALterWeightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searcheGoods">
      <wsdl:input message="tns:searcheGoodsSoapIn" />
      <wsdl:output message="tns:searcheGoodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGoodsClass">
      <wsdl:input message="tns:GetGoodsClassSoapIn" />
      <wsdl:output message="tns:GetGoodsClassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://scyueve.f3322.net/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyPassWord">
      <soap:operation soapAction="http://scyueve.f3322.net/verifyPassWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyUserRole">
      <soap:operation soapAction="http://scyueve.f3322.net/verifyUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchContent">
      <soap:operation soapAction="http://scyueve.f3322.net/searchContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGoods">
      <soap:operation soapAction="http://scyueve.f3322.net/ReadGoods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteIntoFJ">
      <soap:operation soapAction="http://scyueve.f3322.net/WriteIntoFJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readFJINFO">
      <soap:operation soapAction="http://scyueve.f3322.net/readFJINFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://scyueve.f3322.net/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ALterWeight">
      <soap:operation soapAction="http://scyueve.f3322.net/ALterWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searcheGoods">
      <soap:operation soapAction="http://scyueve.f3322.net/searcheGoods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsClass">
      <soap:operation soapAction="http://scyueve.f3322.net/GetGoodsClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://scyueve.f3322.net/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyPassWord">
      <soap12:operation soapAction="http://scyueve.f3322.net/verifyPassWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyUserRole">
      <soap12:operation soapAction="http://scyueve.f3322.net/verifyUserRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchContent">
      <soap12:operation soapAction="http://scyueve.f3322.net/searchContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGoods">
      <soap12:operation soapAction="http://scyueve.f3322.net/ReadGoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteIntoFJ">
      <soap12:operation soapAction="http://scyueve.f3322.net/WriteIntoFJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readFJINFO">
      <soap12:operation soapAction="http://scyueve.f3322.net/readFJINFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://scyueve.f3322.net/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ALterWeight">
      <soap12:operation soapAction="http://scyueve.f3322.net/ALterWeight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searcheGoods">
      <soap12:operation soapAction="http://scyueve.f3322.net/searcheGoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoodsClass">
      <soap12:operation soapAction="http://scyueve.f3322.net/GetGoodsClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://app7.sngoo.com.cn/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://app7.sngoo.com.cn/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>